[submodule "auth-service"]
	path = auth-service
	url = git@github.com:tatyushev-ms/auth-service.git
[submodule "order-service"]
	path = order-service
	url = git@github.com:tatyushev-ms/order-service.git
[submodule "gateway"]
	path = gateway
	url = git@github.com:tatyushev-ms/gateway.git
